@font-face {
    src: url("../fonts/Poppins-Thin.ttf");
    font-family: 'poppins';
    font-weight: 100;
}
@font-face {
    src: url("../fonts/Poppins-ExtraLight.ttf");
    font-family: 'poppins';
    font-weight: 200;
}
@font-face {
    src: url("../fonts/Poppins-Light.ttf");
    font-family: 'poppins';
    font-weight: 300;
}
@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: 'poppins';
    font-weight: 400;
}
@font-face {
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: 'poppins';
    font-weight: 500;
}
@font-face {
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-family: 'poppins';
    font-weight: 600;
}
@font-face {
    src: url("../fonts/Poppins-Bold.ttf");
    font-family: 'poppins';
    font-weight: 700;
}
@font-face {
    src: url("../fonts/Poppins-ExtraBold.ttf");
    font-family: 'poppins';
    font-weight: 800;
}
@font-face {
    src: url("../fonts/Poppins-Black.ttf");
    font-family: 'poppins';
    font-weight: 900;
}
